<div class="row">
	<div class="col-lg-12"><br>
		<div class="input-group">
			{label $itemContainer.'-carouselId'}
			{input $itemContainer.'-carouselId' class=>'form-control'}
		</div>
	</div>
</div>
